<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Morianah.inc</title>
    <link rel="stylesheet" href="css/home.css" >
    <link rel="stylesheet" href="css/gallery.css" >
    
</head>
<body>

    <nav class="navbar"></nav>

    <br><br><br>
    <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-primary" >
                    
                    <div class="panel-heading">
                        <h4>LOGIN</h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-warning">Login to make a purchase</p>
                        <form action="include url here" method="get">
                            <div class="form-group">
                                <input type="email" class="form-control"  placeholder="Email" name="e-mail" required = "true">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" name="password" required = "true">
                            </div>
                            <button type="submit" name="submit" class="btn btn-primary">Login</button> or <a href="index.html">Forgot password !</a><br><br>
                        </form><br>
                    </div>
                      
                        <div class="panel-footer"><p>login with Google? <a href="#"> <i class="fa fa-google-plus" style="font-size:48px;color:red"></i></a>
                        </div>
                    <div class="panel-footer"><p>Don't have an account? <a href="#">Register</a></p></div>
                    
                </div>
    </div>

    <footer ></footer>

    <script src="js/nav.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/home.js"></script>
    <script src="js/gallery.js"></script>
 </body>
 </html>